body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

#menu a{
    font-size: 18px;
    font-weight: bold;
    color: rgb(98, 105, 105);
}
#menu button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner{
    max-height: 39rem;
}

/*ACERCA DE NOSOTROS*/
.imagen img{
    width: 50%;
    height: 50%;
}

/*MAPA*/
.mapa{
    background: url(./img/mapa.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

/*LOCAL*/
#local{
    background: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 15%;
}

.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}
.temperatura
#numeros-local div{
    padding: 0 20px 0 0;
    height: 48px;
}
#numeros-local div:not(:last-child){
    border-right: 2px solid #3f3f3f;
}
#numeros-local div:not(:first-child){
    padding-left: 20px;
}
#numeros-local p{
    margin: 0;
    font-size: 15px;
    margin: 10px;
}

/*IMAGEN VECTORIAL */

#bg-contacto{
    position: relative;
    top:-130px;
}
#seccion-contacto{
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;

}

/*FORMULARIO*/

.imagenSoporte{
    width: 15%;
    height: 15%;
    border-radius: 100%;
}

#contenedor-formulario{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
} 
#titulo-formulario{
    color: #3f3f3f;
}

/*FOOTER*/

footer{
    background: #1b2a4e;
    min-height: 100px;
}
footer p{
    color: #f3f3f3;
    text-align: center;
}

.iconos i{
    font-size:26px ;
    padding: 0 8px;
    color: #f3f3f3;
}


/*MEDIA QUERIES SM*/

@media screen and (max-width:768px) {
    #intro #equipo{
        width: 90% !important;
    }
    #equipo p{
        display: none;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
    #bg-contacto{
        position: relative;
        top:-100px;
    }
    
}

@media screen and (max-width:576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    #local {
        margin: 0;
    }
    #local .mapa{
        margin: 20px;
    }
    
}

@media screen and (max-width:480px) {
    #local {
        margin: 0;
    }
    #local .mapa{
        margin: 20px;
    }
} 

/*MEDIA QUERIES PANTALLA LG*/

@media screen and (max-width:1200px) {
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
    
}